.grid-12.risk.no-gutter-left.no-gutter-right.parent
  .grid-1.previous
    %a.centered{href: "/asset_classes/performance"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.parent.explanation
    .grid-12.title#risk-profile-title
      An example of a conservative portfolio
    .grid-12.parent.portfolio.vertical-align-middle
      .grid-3.buttons
        .button.selected#conservative
          CONSERVATIVE
        .button#balanced
          BALANCED
        .button#growth
          GROWTH
      .grid-6.chart
        %img#pieChartContainer{src: "/images/risk/conservative.svg"}
      .grid-3.ratings
        %img#riskDefinition{src: "/images/risk/very-low-risk.svg"}
        .grid-12.chart-indicator
          .shares
            .indicator
            .indicator-text
              Shares and Property
          .cash
            .indicator
            .indicator-text
              Cash and Fixed Income
    .grid-12.srm-disclaimer
      The risk measure shown here adopts the Standard Risk Measure (SRM), which is based on industry guidance to allow investors to compare investment options that are expected to deliver a similar number of negative annual returns over any 20 year period (as outlined in the table above). The SRM is not a complete assessment of all forms of investment risk and does not take into account the impact of administration fees and tax on the likelihood of a negative return.
  .grid-1.next
    %a.right{href: "/managed_funds"}
      %img{src: "/images/nav/next.svg"}
