.grid-12.risk.no-gutter-left.no-gutter-right
  .grid-1.previous
  .grid-10.explaination
    .grid-12.title#risk-profile-title
      Conservative portfolio
    .grid-12.portfolio
      .grid-3.buttons
        .button.selected#conservative
          CONSERVATIVE
        .button#balanced
          BALANCED
        .button#growth
          GROWTH
      .grid-5.chart
        #pieChartContainer
      .grid-4.rating
        .gird-10.box
          .grid-4.prefix-4.risk-rating.parent.centered
            .grid-12.no-gutter-left.value
              .grid-2.description.no-gutter-left
                %p Risk
              .grid-10.no-gutter
                .rating-yes.low-risk
                  %p 1
                .rating-no
                  %p 2
                .rating-no
                  %p 3
                .rating-no.medium-risk
                  %p 4
                .rating-no
                  %p 5
                .rating-no
                  %p 6
                .rating-no.high-risk
                  %p 7
            .grid-12.no-gutter-left
              .grid-10.prefix-2.no-gutter.index
                .grid-4.low.no-gutter-left Low
                .grid-4.medium Medium
                .grid-4.high.no-gutter-right High
        .grid-12.chart-indicator
          .shares
            .indicator
            .indicator-text
              Shares and Property
          .cash
            .indicator
            .indicator-text
              Cash and Fixed Income
  .grid-1.next
    %a.centered{href: "/asset_classes/cash"}
      %img{src: "/images/nav/next.svg"}
