.grid-12.risk.no-gutter-left.no-gutter-right.parent
  .grid-1.previous
    %a.centered{href: "/asset_classes/performance"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.parent.explanation
    .grid-12.title#risk-profile-title
      An example of a conservative portfolio
    .grid-12.parent.portfolio.vertical-align-middle
      .grid-3.buttons
        .button.selected#conservative
          CONSERVATIVE
        .button#balanced
          BALANCED
        .button#growth
          GROWTH
      .grid-6.chart
        %img#pieChartContainer{src: "/images/risk/conservative.svg"}
      .grid-3.ratings
        .gird-10.box
          .grid-4.risk-rating
            .grid-12.no-gutter-left.value
              .grid-2.description.no-gutter-left
                %p Risk
              .grid-10.no-gutter
                .rating.rating-yes.low-risk
                  %p 1
                .rating
                  %p 2
                .rating
                  %p 3
                .rating.medium-risk
                  %p 4
                .rating
                  %p 5
                .rating
                  %p 6
                .rating.high-risk
                  %p 7
            .grid-12.no-gutter-left
              .grid-10.prefix-2.no-gutter.index
                .grid-4.low.no-gutter-left Low
                .grid-4.medium Medium
                .grid-4.high.no-gutter-right High
        .grid-12.chart-indicator
          .shares
            .indicator
            .indicator-text
              Shares and Property
          .cash
            .indicator
            .indicator-text
              Cash and Fixed Income
    .grid-12.srm-disclaimer
      This tool has adopted the Standard Risk Measure (SRM), which is based on industry guidance, to allow investors to compare investment options that are expected to deliver a similar number of negative annual returns over any 20-year period. These measures are regularly reviewed. The change in the SRM for this option reflects updated economic assumptions that are used to calculate them.
  .grid-1.next
    %a.right{href: "/managed_funds"}
      %img{src: "/images/nav/next.svg"}
