%div.top.grid-12.no-gutter-left
  %div.logo.grid-3
    %a.grid-2{href: "/"}
      %img{src: "/images/home.svg"}
  %div.nav.grid-9
    %ul#l1
      %li
        = link_to "Cash", "/basics/cash"
      %li
        = link_to "Fixed Income", "/basics/fixedincome"
      %li
        = link_to "Property", "/basics/fixedincome"
