.grid-12.retirement.no-gutter-left.no-gutter-right.centered
  .grid-1.previous
    %a.centered{href: "/retirement/transition"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explanation
    .grid-12.title.income
      %p.title Income in Retirement
  .grid-1.next
    %a.right{href: "/supporting_content"}
      %img{src: "/images/nav/next.svg"}