.grid-12.retirement.no-gutter-left.no-gutter-right.centered
  .grid-1.previous
    %a.centered{href: "/super"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explanation
    .grid-12.title
      %p.title Transition to Retirement
    .parent.grid-12.overlay-container
      #overview.overlays.grid-12
        .grid-12
      #benefits.overlays.grid-12.hide
        .grid-12.steps
          %p.step.st1 Some of the benefits of a transition to retirement strategy:
          .grid-12.visualisation
            .grid-4
              %img#boost-income.grid-12{src: '/images/retirement/transition_to_retirement/boost_income.svg'}
            .grid-4
              %img#tax-saving-on-earnings.grid-12{src: '/images/retirement/transition_to_retirement/tax_saving_on_earnings.svg'}
            .grid-4
              %img#tax-saving-on-income.grid-12{src: '/images/retirement/transition_to_retirement/tax_saving_on_income.svg'}
          .grid-12.st1
            .grid-4
              %p#boost-income-text Maintain or boost your income
            .grid-4
              %p#tax-saving-on-earnings-text Minimise tax on earnings
            .grid-4
              %p#tax-saving-on-income-text Minimise tax on income

    .buttons
      .chart-legend.legend.centered.grid-12
        #overview-button.button.grid-2.centered.selected Overview
        #benefits-button.button.grid-2.centered Benefits


  .grid-1.next
    %a.right{href: "/retirement/income"}
      %img{src: "/images/nav/next.svg"}