.grid-12.retirement.no-gutter-left.no-gutter-right.centered
  .grid-1.previous
    %a.centered{href: "/super"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explanation
    .grid-12.title
      %p.title Transition to Retirement
  .grid-1.next
    %a.right{href: "/retirement/income"}
      %img{src: "/images/nav/next.svg"}