.grid-12.asset_classes.no-gutter-left.no-gutter-right
  .grid-1.previous
    %a.centered{href: "/risk/profiles"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explaination
    .grid-12.title.cash
      %p= "An example of investing in cash"
    .grid-12.steps
      .grid-12.st1
        .grid-4
          %p Loan money to a bank in the form of a deposit
        .grid-4
          %p The bank then lends money to borrowers and charges them interest on those loans
        .grid-4
          %p Your deposit may receive a return in the form of  interest
      .grid-12.visualisation
        .grid-4
          %img.grid-12{src: "/images/asset_classes/cash/bank.svg"}
        .grid-4
          %img.grid-12{src: "/images/asset_classes/cash/overseas.svg"}
        .grid-4
          %img.grid-12{src: "/images/asset_classes/cash/payment.svg"}
      .grid-12.st2
        .grid-4
          %p In the form of a term deposit
        .grid-4.prefix-4
          %p plus you receive your initial loan at the end of the term
  .grid-1.next
    %a.centered{href: "/asset_classes/fixed_income"}
      %img{src: "/images/nav/next.svg"}
