.grid-12.asset_classes.no-gutter-left.no-gutter-right
  .grid-1.previous
    %a.centered{href: "/asset_classes/cash"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explaination
    .grid-12.title.fixed_income
      %p= "How investing in fixed income works"
    .grid-12.rating
      .grid-4.prefix-4.risk.parent.centered
        .grid-12.no-gutter-left.value
          .grid-2.description.no-gutter-left
            %p Risk
          .grid-10.no-gutter
            .rating-no
              %p 1
            .rating-yes
              %p 2
            .rating-no
              %p 3
            .rating-no
              %p 4
            .rating-no
              %p 5
            .rating-no
              %p 6
            .rating-no
              %p 7
        .grid-12.no-gutter-left
          .grid-10.prefix-2.no-gutter.index
            .grid-4.low.no-gutter-left Low
            .grid-4.medium Medium
            .grid-4.high.no-gutter-right High
    .grid-12.steps
      .grid-12.st1
        .grid-4
          %p You loan money to the government
        .grid-4
          %p The government invest your money in things like public infrastructure
        .grid-4
          %p You receive a return in the form of periodic payment
      .grid-12.visualisation
        .grid-4
          %img.grid-12.img{src: "/images/asset_classes/cash/1.svg"}
        .grid-4
          %img.grid-12.img{src: "/images/asset_classes/cash/2.svg"}
        .grid-4
          %img.grid-12.img{src: "/images/asset_classes/cash/3.svg"}
      .grid-12.st2
        .grid-4
          %p In the form of a government bond
        .grid-4.prefix-4
          %p plus you receive your initial loan at the end of the term
  .grid-1.next
    %a.centered{href: "/asset_classes/property"}
      %img{src: "/images/nav/next.svg"}
