.grid-12.asset_classes.no-gutter-left.no-gutter-right
  .grid-1.previous
    %a.centered{href: "/asset_classes/cash"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explaination
    .grid-12.title.fixed_income
      %p= "An example of investing in fixed interest"
    .grid-12.steps
      .grid-12.st1
        .grid-4
          %p You loan money to the government for a fixed term in the form of a bond.
        .grid-4
          %p The government issues bonds when they need to raise money for things like improving roads.
        .grid-4
          %p At the end of the term you may get both your initial loan value and the agreed interest earned.
      .grid-12.visualisation
        .grid-4
          %img.grid-12.img{src: "/images/asset_classes/fixed_income/government.svg"}
        .grid-4
          %img.grid-12.img{src: "/images/asset_classes/fixed_income/infrastructure.svg"}
        .grid-4
          %img.grid-12.img{src: "/images/asset_classes/fixed_income/payment.svg"}
      .grid-12.st2
        .grid-4
          %p In the form of a government bond
        .grid-4.prefix-4
          %p plus you receive your initial loan at the end of the term
  .grid-1.next
    %a.centered{href: "/asset_classes/property"}
      %img{src: "/images/nav/next.svg"}
