.grid-12.asset_classes.no-gutter-left.no-gutter-right
  .grid-1.previous
    %a.centered{href: "/asset_classes/shares"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explaination
  .grid-1.next
    %a.centered{href: "/managed_funds"}
      %img{src: "/images/nav/next.svg"}
