.grid-12.asset_classes.no-gutter-left.no-gutter-right
  .grid-1.previous
    %a.centered{href: "/asset_classes/shares"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explaination
    #chartContainer
    .chart-legend
      .grid-2
        #aus-shares.legend
          Aus Shares
      .grid-2
        #int-shares.legend
          Int Shares
      .grid-2
        #property.legend
          Property
      .grid-2
        #fixed.legend
          Fixed
      .grid-2
        #cash.legend
          Cash
      .grid-2
        #diversified.legend
          Diversified
  .grid-1.next
    %a.centered{href: "/managed_funds"}
      %img{src: "/images/nav/next.svg"}


