.grid-12.asset_classes.no-gutter-left.no-gutter-right
  .grid-1.previous
    %a.centered{href: "/asset_classes/shares"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explanation
    .grid-12.title
      Performance of Asset Classes
    .grid-12.performance-chart
      #chartContainer.grid-10.centered
      .chart-legend.grid-10.centered
        .grid-2
          #aus-shares.legend.disabled
            Aus Shares
        .grid-2
          #int-shares.legend.disabled
            Int Shares
        .grid-2
          #property.legend.disabled
            Property
        .grid-2
          #fixed.legend.disabled
            Fixed
        .grid-2
          #cash.legend.disabled
            Cash
        .grid-2
          #diversified.legend.disabled
            Diversified
  .grid-1.next
    %a.right{href: "/risk/profiles"}
      %img{src: "/images/nav/next.svg"}
