.grid-12.asset_classes.no-gutter-left.no-gutter-right
  .grid-1.previous
    %a.centered{href: "/asset_classes/shares"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explanation
    .grid-12.title
      Performance of Asset Classes
    .grid-12.performance-chart
      #chartContainer.grid-10.centered
      -# The order of buttons matters
      -# https://trello.com/c/OEobbSRc
      .chart-legend.grid-10.centered
        .grid-2
          #cash.legend.disabled
            Cash
        .grid-2
          #fixed.legend.disabled
            Fixed
        .grid-2
          #aus-shares.legend.disabled
            Aus Shares
        .grid-2
          #int-shares.legend.disabled
            Int Shares
        .grid-2
          #property.legend.disabled
            Property
        .grid-2
          #diversified.legend.disabled
            Diversified
    .grid-12.past-performance-disclaimer
      Past performance is no indication of future performance
    .grid-12.assumptions-disclaimer
      %p Assumptions
      %p Actual indices returns: This table is based on the standard indices used by investment professionals to measure performance of asset classes. UBS Australia Bank Bill Index , UBS Australian Composite Bond Index, S&P / ASX 200 - A-REIT Accumulation Index (ASX Property Trusts Accumulation Index pre April 2000), S&P/ASX 300 Accumulation Index (ASX All Ordinaries Accumulation Index pre April 2000), MSCI World Net Index (A$). All dividends reinvested excluding fees and charges.
      %p Non Actual Returns: The diversified portfolio is a portfolio constructed from the returns of these market indices with the asset allocation of: 35% in Australian shares, 25% in global shares, 25% in Australian fixed interest, 10% in Australian property securities, 5% in cash. The constructed diversified portfolio does not represent any portfolio nor the actual returns that this portfolio achieved because it does not exist. The constructed diversified portfolio illustrates how such a portfolio may have performed based on the new market indices.
      %p Data to 31 December 2015.
  .grid-1.next
    %a.right{href: "/risk/profiles"}
      %img{src: "/images/nav/next.svg"}
