.grid-12.asset_classes.no-gutter-left.no-gutter-right
  .grid-1.previous
    %a.centered{href: "/asset_classes/fixed_income"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explaination
    .grid-12.title.cash
      %p= "How investing in property works"
    .grid-12.rating
      .grid-4.prefix-4.risk-rating.parent.centered
        .grid-12.no-gutter-left.value
          .grid-2.description.no-gutter-left
            %p Risk
          .grid-10.no-gutter
            .rating-no
              %p 1
            .rating-no
              %p 2
            .rating-no
              %p 3
            .rating-no
              %p 4
            .rating-no
              %p 5
            .rating-yes
              %p 6
            .rating-no
              %p 7
        .grid-12.no-gutter-left
          .grid-10.prefix-2.no-gutter.index
            .grid-4.low.no-gutter-left Low
            .grid-4.medium Medium
            .grid-4.high.no-gutter-right High
    .grid-12.steps
      .grid-12.st1
        .grid-4
          %p You invest money into a property
        .grid-4
          %p Tenants pay rent to Westfield Shopping Centre
        .grid-4
          %p If that property's value increases
      .grid-12.visualisation
        .grid-4
          %img.grid-12.img{src: "/images/asset_classes/property/1.svg"}
        .grid-4
          %img.grid-12.img{src: "/images/asset_classes/property/2.svg"}
        .grid-4
          %img.grid-12.img{src: "/images/asset_classes/property/3.svg"}
      .grid-12.st2
        .grid-4
          %p such as Westfield Shopping Centre
        .grid-4
          %p you receive a return
        .grid-4
          %p your investment grows
  .grid-1.next
    %a.centered{href: "/asset_classes/shares"}
      %img{src: "/images/nav/next.svg"}
