.grid-12.asset_classes.no-gutter-left.no-gutter-right
  .grid-1.previous
    %a.centered{href: "/asset_classes/fixed_income"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explaination
    .grid-12.title
      An example of investing in property
    .grid-12.steps
      .grid-12.visualisation
        .grid-4
          %img.grid-12.img{src: "/images/asset_classes/property/property.svg"}
        .grid-4
          %img.grid-12.img{src: "/images/asset_classes/property/shopping-centres.svg"}
        .grid-4
          %img.grid-12.img{src: "/images/asset_classes/property/increase.svg"}
      .grid-12.st1
        .grid-4
          %p You buy ‘units’ in a property fund operated by an investment manager.
        .grid-4
          %p They invest your money into the development of commercial, retail, industrial properties, like shopping centres.
        .grid-4
          %p You may get periodic income in the form of a distribution from the fund. You may also make gains on your initial investment if that fund grows in value and you sell your ‘units’.
  .grid-1.next
    %a.right{href: "/asset_classes/shares"}
      %img{src: "/images/nav/next.svg"}
