.grid-12.asset_classes.no-gutter-left.no-gutter-right
  .grid-1.previous
    %a.centered{href: "/asset_classes/property"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explaination
    .grid-12.title.cash
      %p= "An example of investing in shares"
    .grid-12.steps
      .grid-12.st1
        .grid-4
          %p Investing in shares makes you part-owner of a company.
        .grid-4
          %p The company’s activity can generate profits or losses.
        .grid-4
          %p You may get income in the form of dividends from company profits. You may also make gains if that company grows in market value and you sell your shares.
      .grid-12.visualisation
        .grid-4
          %img.grid-12.img{src: "/images/asset_classes/shares/company.svg"}
        .grid-4
          %img.grid-12.img{src: "/images/asset_classes/shares/products.svg"}
        .grid-4
          %img.grid-12.img{src: "/images/asset_classes/shares/increase.svg"}
  .grid-1.next
    %a.right{href: "/asset_classes/performance"}
      %img{src: "/images/nav/next.svg"}
