@charset "utf-8";

@import 'settings';
@import 'nav';
@import 'asset_classes';

body {
    background: #ffffff;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
  margin-top: 0;
}

.disclaimer {
  font-weight: 400;
  font-size: 0.65em;
  text-align: center;
}

.disclaimer a {
  text-decoration: none;
  color: #279EEE;
}
