@charset "utf-8";

@import 'settings';
@import 'nav';
@import 'asset_classes';
@import 'risk';
@import 'managed_funds';
@import 'super';

@font-face {
  font-family: 'Open Sans';
  src:url('../fonts/OpenSans-Regular-webfont.eot');
  src:url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
  url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
  url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background: #ffffff;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  margin-bottom: 100px !important;
}

.content {
  max-width: 1300px;
  height: 100%;
}

h1 {
  margin-top: 0;
}

.disclaimer {
  font-weight: 400;
  font-size: 0.65em;
  text-align: center;
  padding: 0 5em;
  position: absolute;
  height: 100px;
  bottom: 0;
}

.right {
  float: right !important;
}

.disclaimer a {
  text-decoration: none;
  color: #279EEE;
}

.explaination .risk-rating {
  display: inline-block;
  list-style: none;
  font-size: 0.625em;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #D2D4D8;
  text-align: center;
  width: 22em;
}

.explaination .rating .value {
  vertical-align: middle;
  margin-top: 0.5em;
}

.explaination .rating .description {
  display: inline-block;
  list-style: none;
  text-align: center;
  color: #204581;
}

.explaination .rating .value p {
  vertical-align: middle;
  margin: 0.4em 0 0 0;
}

.explaination .rating .value .rating-yes {
  float: left;
  width: 13.6%;
  height: 2.2em;
  font-size: 1.3em;
  margin: 0.5% 0.3% 0.5% 0.3%;
  color: #FFFFFF;
  background: #F58C23;
  vertical-align: middle;
}

.explaination .rating .value .rating-no {
  float: left;
  width: 13.6%;
  height: 2.2em;
  font-size: 1.3em;
  margin: 0.5% 0.3% 0.5% 0.3%;
  background: #EDEFF4;
  color: #A5ACB8;
}

.explaination .rating .low {
  text-align: left;
  color: #204581;
}

.explaination .rating .medium {
  text-align: right;
  color: #204581;
}

.explaination .rating .high {
  text-align: right;
  color: #204581;
}

#rating-enabled {
  background: #7CC021;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#rating-disabled {
  background: #E2E3E5;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.previous img {
  padding-top: 20em;
}

.next img {
  padding-top: 20em;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

a, u {
  text-decoration: none;
}

.container {
  .risk, .managed-funds, .super {
    margin-top: 2.4em;
  }
}
