.asset_classes {
  margin: 0;
}

.asset_classes .title {
  letter-spacing: 0.1rem;
  font-size: 2.8rem;
  font-weight: 300;
  text-align: center;
  color: #1651BA;
}

.asset_classes .title p {
  margin-top: 3%;
  margin-bottom: 3%;
}

.asset_classes .cash {
  //background: #7CC021;
}

.asset_classes .explaination .index {
  border-top: 1px solid #204581;
  float: left;
  margin-bottom: 0.5em;
}

.asset_classes .explaination .steps {
  border-top: 1px solid #D5DCE9;
  margin-top: 1.5em;
}

.asset_classes .explaination .steps .step {
  padding-left: 3.125%;
  padding-right: 3.125%;
}

.asset_classes .explaination .steps div .number {
  background: #505050;
  font-size: 1.0em;
  font-weight: 600;
  color: #FFFFFF;
  width: 1.40em;
  height: 1.40em;
  border-radius: 50%;
  padding-left: 0.4em;
}

.asset_classes .explaination .steps .st1 {
  padding-top: 1em;
  font-size: 1.1em;
  font-weight: 100;
  color: #000;
  text-align: center;
}

.asset_classes .explaination .steps .visualisation {
  padding-top: 3em;
}

.asset_classes .explaination .steps .visualisation img {
  height: 8em;
}

.asset_classes .explaination .steps .st2 {
  padding-top: 1em;
  font-size: 0.9em;
  font-weight: 100;
  color: #000;
  text-align: center;
}

#chartContainer {
  height: 350px;
}

.xAxisLabels {
  margin-top: -5px;
  margin-left: 7%;
  padding-right: 5%;
  margin-bottom: 10px;
}

.chart-legend {
  height: 60px;
}

#aus-shares {
  background-color: #279EEE;
}

#int-shares {
  background-color: #204581;
}

#property {
  background-color: #F58C23;
}

#fixed {
  background-color: #08C288;
}

#cash {
  background-color: #F14140;
}

#diversified {
  background-color: #2F4F4F;
}

.legend {
  padding: 5px;
  text-align: center;
  color: white;
  border-radius:5px;
  cursor: pointer !important;
  min-width: 85px;
}

.legend.disabled {
  background: none !important;
  color: black !important;
  border: 1px solid
}
