@import "colour";

.asset_classes {
  margin: 0;
}

.asset_classes .title {
  margin-top: 6%;
  margin-bottom: 0;
}

.asset_classes .explanation .index {
  border-top: 1px solid $NAVY;
  float: left;
  margin-bottom: 0.5em;
}

.asset_classes .explanation .steps {
  border-top: 1px solid #D5DCE9;
  margin-top: 3.5%;
}

.asset_classes .explanation .steps .step {
  padding-left: 3.125%;
  padding-right: 3.125%;
}

.asset_classes .explanation .steps div .number {
  background: #505050;
  font-size: 1.0em;
  font-weight: 600;
  color: #FFFFFF;
  width: 1.40em;
  height: 1.40em;
  border-radius: 50%;
  padding-left: 0.4em;
}

.asset_classes .explanation .steps .st1 {
  padding-top: 1em;
  font-size: 1.02em;
  color: #000;
  text-align: center;
  line-height: 1.5em;
}

.asset_classes .explanation .steps .visualisation {
  padding-top: 4em;
}


@media screen and (min-height: 783px) {
  .asset_classes .explanation .steps .visualisation {
    padding-top: 5em;
  }
}

.asset_classes .explanation .steps .visualisation img {
  height: 10em;
}

.asset_classes .explanation .steps .st1 p {
  padding: 0 1em;
}

.asset_classes .explanation .steps .st2 {
  padding-top: 1em;
  font-size: 0.9em;
  color: #000;
  text-align: center;
}

.asset_classes .performance-chart {
  padding-top: 3%;
}

#chartContainer {
  height: 350px;
}

.xAxisLabels {
  margin-top: -5px;
  margin-left: 7%;
  padding-right: 5%;
  margin-bottom: 10px;
}

.chart-legend {
  padding-top: 2%;
}

@mixin chart-labels($color) {
  background-color: $color;
  border: 1px solid $color;
}

#aus-shares  { @include chart-labels($OCEAN);     }
#int-shares  { @include chart-labels($NAVY);       }
#property    { @include chart-labels($LIGHT-BLUE); }
#fixed       { @include chart-labels($ORANGE);     }
#cash        { @include chart-labels($TURQUOISE);  }
#diversified { @include chart-labels($MOSS-GREEN); }

.legend {
  padding: 5px;
  text-align: center;
  color: white;
  border-radius:5px;
  cursor: pointer !important;
  min-width: 85px;
}

.legend.disabled {
  background: none !important;
  color: black !important;
}
