.basics {
  margin: 0;
}

.basics .title {
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
  font-weight: 300;
  text-align: center;
  padding-top: 0.65%;
  padding-bottom: 0.65%;
  color: #ffffff;
}

.basics .cash {
  background: #7CC021;
}

.basics .info {
}
