.basics {
  margin: 0;
}

.basics .title {
  letter-spacing: 0.1rem;
  font-size: 3.2rem;
  font-weight: 400;
  text-align: center;
  color: #1651BA;
}

.basics .title p {
  margin-top: 4%;
  margin-bottom: 4%;
}

.basics .cash {
  //background: #7CC021;
}

.basics .explaination {
  max-width: 1280px;
}

.basics .explaination .risk {
  display: inline-block;
  list-style: none;
  font-size: 0.700em;
  font-weight: 400;
  text-transform: uppercase;
  border: 1px solid #D2D4D8;
  text-align: center;
  width: 22em;
}

.basics .explaination .index {
  border-top: 1px solid #204581;
  float: left;
  margin-bottom: 0.5em;
}

.basics .explaination .rating .value {
  vertical-align: middle;
  margin-top: 0.5em;
}

.basics .explaination .rating .description {
  display: inline-block;
  list-style: none;
  text-align: center;
  color: #204581;
}


.basics .explaination .rating .value p {
  vertical-align: middle;
  margin: 0.4em 0 0 0;
}
.basics .explaination .rating .value .rating-yes {
  float: left;
  width: 13.6%;
  height: 2.2em;
  margin: 0.5% 0.3% 0.5% 0.3%;
  color: #FFFFFF;
  background: #F58C23;
  vertical-align: middle;
}

.basics .explaination .rating .value .rating-no {
  float: left;
  width: 13.6%;
  height: 2.2em;
  //margin: 1px 1px 1px 1px;
  margin: 0.5% 0.3% 0.5% 0.3%;
  background: #EDEFF4;
  color: #A5ACB8;
}

.basics .explaination .rating .low {
  text-align: left;
  color: #204581;
}

.basics .explaination .rating .medium {
  text-align: right;
  color: #204581;
}

.basics .explaination .rating .high {
  text-align: right;
  color: #204581;
}

.basics .explaination .steps {
  border-top: 1px solid #D5DCE9;
  margin-top: 1.5em;
}

.basics .explaination .steps .step {
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.basics .explaination .steps div .number {
  background: #505050;
  font-size: 1.0em;
  font-weight: 600;
  color: #FFFFFF;
  width: 1.40em;
  height: 1.40em;
  border-radius: 50%;
  padding-left: 0.4em;
}

.basics .explaination .steps div .st1 {
  padding-top: 1em;
  font-size: 1.2em;
  font-weight: 300;
  text-align: center;
}

.basics .explaination .steps div .img {
  padding-top: 1em;
  height: 8em;
}

.basics .explaination .steps div .st2 {
  padding-top: 1em;
  font-size: 0.9em;
  font-weight: 300;
  text-align: center;
}

#rating-enabled {
    background: #7CC021;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

#rating-disabled {
    background: #E2E3E5;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
