$LIGHT-GRAY:    #EBEFF5;
$NAVY:          #204581;
$OCEAN:         #225Ab7;
$LIGHT-BLUE:    #279EEE;
$TURQUOISE:     #12A99D;
$GREEN:         #7CC021;
$MOSS-GREEN:    #2F4F4F;
$ORANGE:        #F58C23;
$DISABLED-GRAY: #E2E3E5;
