@import "colour";

.title-text {
  color: black;
  font-size: 1.5em;
  font-weight: 100;
}

.description {
  font-size: 0.5em;
  font-weight: 100;
}

.home {
  background: #EBEFF5;
  .title {
    text-align: center;
  }
}

.section-details {
  border-radius: 3px;
  box-shadow: 0px 5px 0px #C2C7D0;
  text-align: center;
  min-height: 160px;
  margin-top: 4%;
}

.risk {
  background-color: $NAVY;
}

.asset-classes {
  background-color: $LIGHT-BLUE;
}

.managed-funds {
  background-color: $ORANGE;
}

.super {
  background-color: $TURQUOISE;
}

.supporting-content {
  min-height: 0;
  height: auto;
  margin-top: 4em;
  font-size: 12px;
  box-shadow: none;
  u {
    border-bottom: 1px dotted $OCEAN;
    text-decoration: none;
  }
  .section-title {
    padding: 0;
    color: $OCEAN;
    text-decoration: dotted;
  }
}

.section-details img {
  height: 2.3em;
  margin: 10% 0 5% 0;
}

.section-title {
  color: $WHITE;
  font-weight: 100;
  font-size: 1.8em;
  padding-bottom: 5%;
}
