@import "colour";

.title-text {
  color: #1768C7;
  font-size: 4em;
  font-weight: 100;
}

.description {
  font-size: 1.2em;
  font-weight: 100;
}

.home {
  background: #EBEFF5;
}

.title {
  text-align: center;
  padding: 5% 0;
}

.section-details {
  border-radius: 3px;
  box-shadow: 0px 5px 0px #C2C7D0;
  text-align: center;
  min-height: 143px;
  margin-top: 4%;
}

.risk {
  background-color: $NAVY;
}

.asset-classes {
  background-color: $LIGHT-BLUE;
}

.managed-funds {
  background-color: $ORANGE;
}

.super {
  background-color: $TURQUOISE;
}

.supporting-content {
  background-color: $MOSS-GREEN;
}

.retirement {
  background-color: $OCEAN;
}

.section-details img {
  height: 2.3em;
  margin: 10% 0 5% 0;
}

.section-title {
  color: #FFFFFF;
  font-weight: 100;
  font-size: 1.8em;
  padding-bottom: 5%;
}

.divider {
  height: 0px;
  text-align: center;
  border: 1px solid transparent;
  border-top-color: #C4D1E1;
  border-bottom-color: #FFFFFF;
}

.divider span {
  background-color: #EBEFF5;
  position: relative;
  top: -0.75em;
  font-size: 2em;
  padding: 0 1%;
  color: #1768C7;
  font-weight: 100;
}
