@charset "utf-8";

@import 'settings';

body {
  font-family: $FONT;
  background: #DDE3EF;
}

.login {
  background: #FFFFFF;
}

.pane {
  position: fixed;
  top: 30%;
}

.title {
  font-size: 1.8rem;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  background: #39393A;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.title p {
  margin: 0;
  position: relative;
}

.info {
  padding-top: 2.4em;
  padding-bottom: 0.3em;
  background: #fff;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  box-shadow: 0px 3px 0px #C2C7D0;
  padding-left: 7%;
  padding-right: 7%;
}

.password-label {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: left;
  margin-bottom: 0.5em;
}

.password-input {
  font-size: .85rem;
  font-weight: 100;
  text-align: left;
  margin-bottom: 0.5em;
  border-radius: 3px;
  border: none;
  background: #EDEAF5;
  height: 2.4rem;
}

.login-button {
  background: #269FEF;
  text-align: center;
  height: 2.4rem;
  margin-bottom: 0.5em;
  border-radius: 3px;
  box-shadow: 0px 2px 0px #C2C7D0;
}

.login-button:hover {
  background: #46AFFF;
}

.login-button:active {
  background: #269FEF;
}

.login-button p {
  color: #FFFFFF;
  font-size: 0.75rem;
  text-transform: uppercase;
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 700;
}

.login-button input {
  visibility: hidden;
}

.login-box {
  width: 341px;
  margin: 0 auto;
  position: relative;
  top: 30%;
}
