.managed-funds .title {
  text-align: center;
  color: #1768C7;
  font-size: 2.8rem;
  font-weight: 300;
  margin: 3% 0;
}

.managed-funds .explaination .portfolio {
  border-top: 1px solid #D5DCE9;
  padding: 5% 0;
}

.managed-funds .box {
  border: 1px solid;
  border-color: #FF0094;
  height: 6em;

  .managed-funds-rating {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.managed-funds .chart img {
  height: 50vh;
}

.managed-funds .chart {
  display: inline-block;
  width: 50%;
}

.managed-funds .buttons {
  padding-top: 6vh;
  display: inline-block;
  vertical-align: top;
  padding-left: 9%;
  padding-right: 3%;
}

.managed-funds .buttons .button {
  background-color: #eff2f7;
  background-image: -webkit-linear-gradient(top, #eff2f7, #d7deea);
  color: #000000;
  width: 68%;
  margin: 0 auto;
  border-radius: 4px;
  height: 2.4em;
  padding-top: 1em;
  box-shadow: 0px 2px 0px #A2A6AF;
  font-weight: bold;
  font-size: small;
  text-align: center;
  margin-bottom: 1.3em;
  min-width: 172px;

  &:hover {
    cursor: pointer;
  }
}

.managed-funds .buttons .button.selected {
  background-color: #2A2A2A;
  background-image: -webkit-linear-gradient(top, #2A2A2A, #2A2A2A);
  color: #FFFFFF;
}

.managed-funds .chart-indicator {
  padding-top: 40%;
}

.managed-funds .chart-indicator .indicator {
  display: inline-block;
  height: 0.6em;
  width: 0.6em;
  background: #204581;
  border-radius: 100%;
  margin-right: 0.5em;
}

.managed-funds .chart-indicator .indicator-text {
  display: inline-block;
  font-weight: 100;
}

.managed-funds .chart-indicator .cash .indicator {
  background: #279EEE;
}

.managed-funds .chart-indicator .cash {
  margin-top: 1em;
  padding-left: 10%;
}

.managed-funds .chart-indicator .shares {
  padding-left: 10%;
}
