@charset "utf-8";

.menu .first-level {
  background: #292929;
  width: 100%;
}

.menu .first-level .interactable {
  height: 3.5em;
  margin: auto;
}

.menu .first-level .logo  {
  padding-left: 1.5%;
  position: absolute;
}

.menu .first-level .logo img {
  height: 1.7em;
  padding-top: 1.0em;
}

.menu .first-level .nav {
  vertical-align: baseline;
  height: 100%;
  width: 465px;
  margin-left: auto;
  margin-right: auto;
}

.menu .first-level .nav .l1-item {
  padding-top: 1em;
  padding-left: 3%;
  padding-right: 3%;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
}


.menu .first-level .nav .l1-item.selected {
  background: #D5DCE9;
}

.menu .first-level .nav .l1-item.selected a {
  color: #1651BA;
}

.menu .first-level .nav a:hover {
  font-weight: 800;
}

.menu .first-level .nav .l1-item a {
  letter-spacing: 0.07em;
  font-size: 0.75em;
  color: #ffffff;
  font-weight: 600;
  vertical-align: middle;
  text-decoration: none;
  // margin-right: 5px;
}

.menu .second-level {
  width: 100%;
  background: #D5DCE9;
  height: 2.4em;
}

.menu .second-level .interactable {
  font-size: 1.10em;
  margin: auto;
  height: 100%;
}

.menu .second-level .nav {
  height: 100%;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.menu .second-level .nav div {
  margin-top: 0.4%;
  height: 100%;
}

.menu .second-level .nav .l2-item  {
  text-align: center;
  padding-left: 2%;
  padding-right: 2%;
  display: inline-block;
}

.menu .second-level .nav .l2-item .pointer {
  width: 2em;
  padding-left: 0.1%;
  visibility: hidden;
  display: block;
  margin: auto;
}

.menu .second-level .nav .l2-divider {
  width: 1px;
  background-color: #E3E6EA;
  height: 0.9em;
  margin-top: 0.9%;
  border-left: 1px solid #BAC0CA;
  display: inline-block;
}

.menu .second-level .nav .l2-item a {
  letter-spacing: 0.03em;
  font-size: 0.75em;
  color: #000000;
  font-weight: 400;
  vertical-align: middle;
  text-decoration: none;
  margin-right: 5px;
}


.menu .second-level .nav a:hover {
  font-weight: 600;
}

.menu .second-level .nav .l2-item.selected a {
  color: #1651BA;
  font-weight: 600;
}

.menu .second-level .nav .l2-item.selected .pointer {
  visibility: visible;
}
