@import "colour";

.risk .explanation .portfolio {
  border-top: 1px solid #D5DCE9;
  padding: 5% 0;
}

.risk .box {
  height: 6em;

  .risk-rating {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.risk .chart-indicator {
  padding-top: 40%;
  padding-left: 0;
}

.risk .chart-indicator .indicator {
  display: inline-block;
  height: .7em;
  width: .7em;
  background: $NAVY;
  border-radius: 100%;
  margin-right: 0.5em;
}

.risk .chart-indicator .indicator-text {
  display: inline-block;
}

.risk .chart-indicator .cash .indicator {
  background: $LIGHT-BLUE;
}

.risk .chart-indicator .cash {
  margin-top: 1em;
}

#pieChartContainer {
  width: 20em;
  margin: 0 auto;
  display: block;
}

.explanation .risk-rating {
  display: inline-block;
  list-style: none;
  font-size: 0.625em;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #D2D4D8;
  text-align: center;
  width: 22em;
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.explanation .ratings {
  padding-top: 7%;
  padding-right: 0;
  padding-left: 0;
}
.explanation .ratings .value {
  vertical-align: middle;
  margin-top: 0.5em;
}

.explanation .ratings .description {
  display: inline-block;
  list-style: none;
  text-align: center;
  color: $NAVY;
}

.explanation .ratings .value p {
  vertical-align: middle;
  margin: 0.4em 0 0 0;
}

.explanation .ratings .value .rating {
  float: left;
  width: 13.6%;
  height: 2.2em;
  font-size: 1.3em;
  margin: 0.5% 0.3% 0.5% 0.3%;
  background: #EDEFF4;
  color: #A5ACB8;
  &.rating-yes {
    color: #FFFFFF;
    background: $ORANGE;
    vertical-align: middle;
  }
}

.explanation .ratings {
  color: $NAVY;
  .low {
    text-align: left;
  }
  .medium, .high{
    text-align: right;
  }
}
