@import "colour";

.risk .title {
  text-align: center;
  color: #1768C7;
  font-size: 2.8rem;
  font-weight: 300;
  margin: 3% 0;
}

.risk .explanation .portfolio {
  border-top: 1px solid #D5DCE9;
  padding: 5% 0;
}

.risk .box {
  height: 6em;

  .risk-rating {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.risk .chart img {
  height: 20em;
}

.risk .buttons {
  padding-top: 6em;
  padding-left: 5%;
  padding-right: 0;
}

.risk .buttons .button {
  background-color: $LIGHT-GRAY;
  background-image: -webkit-linear-gradient(top, $LIGHT-GRAY, #d7deea);
  color: #000000;
  width: 55%;
  margin: 0 auto;
  border-radius: 4px;
  height: 2.4em;
  padding-top: 1em;
  box-shadow: 0px 2px 0px #A2A6AF;
  font-weight: bold;
  font-size: small;
  text-align: center;
  margin-bottom: 1.3em;
  min-width: 172px;

  &:hover {
    cursor: pointer;
  }
}

.risk .buttons .button.selected {
  background-color: #2A2A2A;
  background-image: -webkit-linear-gradient(top, #2A2A2A, #2A2A2A);
    color: #FFFFFF;
}

.risk .chart-indicator {
  padding-top: 40%;
  padding-left: 0;
}

.risk .chart-indicator .indicator {
  display: inline-block;
  height: .7em;
  width: .7em;
  background: $NAVY;
  border-radius: 100%;
  margin-right: 0.5em;
}

.risk .chart-indicator .indicator-text {
  display: inline-block;
  font-weight: 100;
}

.risk .chart-indicator .cash .indicator {
  background: $LIGHT-BLUE;
}

.risk .chart-indicator .cash {
  margin-top: 1em;
}

#pieChartContainer {
  width: 100%;
}

.explanation .risk-rating {
  display: inline-block;
  list-style: none;
  font-size: 0.625em;
  font-weight: 600;
  text-transform: uppercase;
  border: 1px solid #D2D4D8;
  text-align: center;
  width: 22em;
  padding-left: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.explanation .ratings {
  padding-top: 7%;
  padding-right: 0;
  padding-left: 0;
}
.explanation .ratings .value {
  vertical-align: middle;
  margin-top: 0.5em;
}

.explanation .ratings .description {
  display: inline-block;
  list-style: none;
  text-align: center;
  color: $NAVY;
}

.explanation .ratings .value p {
  vertical-align: middle;
  margin: 0.4em 0 0 0;
}

.explanation .ratings .value .rating {
  float: left;
  width: 13.6%;
  height: 2.2em;
  font-size: 1.3em;
  margin: 0.5% 0.3% 0.5% 0.3%;
  background: #EDEFF4;
  color: #A5ACB8;
  &.rating-yes {
    color: #FFFFFF;
    background: $ORANGE;
    vertical-align: middle;
  }
}

.explanation .ratings .low {
  text-align: left;
  color: $NAVY;
}

.explanation .ratings .medium {
  text-align: right;
  color: $NAVY;
}

.explanation .ratings .high {
  text-align: right;
  color: $NAVY;
}

#rating-enabled {
  background: $GREEN;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

#rating-disabled {
  background: $DISABLED-GRAY;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
