.risk .title {
  text-align: center;
  color: #1768C7;
  font-size: 2.8rem;
  font-weight: 300;
  margin: 3% 0;
}

.risk .explaination .portfolio {
  border-top: 1px solid #D5DCE9;
  padding: 5% 0;
}

.risk .box {
  height: 6em;

  .risk-rating {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.risk .chart img {
  height: 20em;
}

.risk .buttons {
  padding-top: 6em;
}

.risk .buttons .button {
  background-color: #E8EBF3;
  color: #000000;
  width: 68%;
  margin: 0 auto;
  border-radius: 4px;
  height: 2em;
  padding-top: 0.6em;
  box-shadow: 0px 2px 0px #A2A6AF;
  font-weight: bold;
  font-size: small;
  text-align: center;
  margin-bottom: 1em;
  min-width: 110px;

  &:hover {
    cursor: pointer;
  }
}

.risk .buttons .button.selected {
    background-color: #2A2A2A;
    color: #FFFFFF;
}

.risk .chart-indicator {
  padding-top: 40%;
}

.risk .chart-indicator .indicator {
  display: inline-block;
  height: 0.6em;
  width: 0.6em;
  background: #204581;
  border-radius: 100%;
  margin-right: 0.5em;
}

.risk .chart-indicator .indicator-text {
  display: inline-block;
  font-weight: 100;
}

.risk .chart-indicator .cash .indicator {
  background: #279EEE;
}

.risk .chart-indicator .cash {
  margin-top: 1em;
  padding-left: 10%;
}

.risk .chart-indicator .shares {
  padding-left: 10%;
}

#pieChartContainer {
  margin-top: -30px;
}
