.supporting-content .title {
  text-align: center;
  color: #1768C7;
  font-size: 2.8rem;
  font-weight: 300;
  margin: 3% 0;
}

.concepts {
  border-top: 1px solid #D5DCE9;
  padding: 5% 0;
}

.concepts .grid-3 {
  padding-top: 4vh;
  vertical-align: middle;

  .button {
    background-image: -webkit-linear-gradient(top, $LIGHT-GRAY, #d7deea);
    color: #1768C7;
    width: 68%;
    margin: 0 auto;
    border-radius: 4px;
    height: 2.4em;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    box-shadow: 0px 2px 0px #A2A6AF;
    font-size: small;
    text-align: center;
    min-width: 172px;

    &:hover {
      cursor: pointer;
      color: #000000;
    }
  }

  .button-title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: .9em;
  }

  a, u{
    text-decoration: none;
    min-width: 150px;
    text-align: center;
    padding: 2px 10px;
    height: 100%;
    display: block;
  }
  }
