.grid-12.basics.no-gutter-left.no-gutter-right
  .grid-1.previous
    %a.centered{href: "/"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explaination
    .grid-12.title.cash
      %p= "How investing in cash works"
    .grid-12.rating
      .grid-4.prefix-4.risk.parent.centered
        .grid-12.no-gutter-left.value
          .grid-2.description.no-gutter-left
            %p Risk
          .grid-10.no-gutter
            .rating-yes
              %p 1
            .rating-no
              %p 2
            .rating-no
              %p 3
            .rating-no
              %p 4
            .rating-no
              %p 5
            .rating-no
              %p 6
            .rating-no
              %p 7
        .grid-12.no-gutter-left
          .grid-10.prefix-2.no-gutter.index
            .grid-4.low.no-gutter-left Low
            .grid-4.medium Medium
            .grid-4.high.no-gutter-right High
    .grid-12.steps
      .grid-4.step
        .grid-12.st1
          %p You loan money to the bank
        %img.grid-12.img{src: "/images/basics/cash/1.svg"}
        .grid-12.st2
          %p In the form of a term deposit
      .grid-4.step
        .grid-12.st1
          %p The bank invests the money in things like overseas investments
        %img.grid-12.img{src: "/images/basics/cash/2.svg"}
      .grid-4.step
        .grid-12.st1
          %p You recieve a return in the form of a periodic payment
        %img.grid-12.img{src: "/images/basics/cash/3.svg"}
        .grid-12.st2
          %p plus you receive your initial loan at the end of the term
  .grid-1.next
    %a.centered{href: "/basics/fixed_income"}
      %img{src: "/images/nav/next.svg"}
