.grid-12.retirement.no-gutter-left.no-gutter-right.centered
  .grid-1.previous
    %a.centered{href: "/super_retirement/transition"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explanation
    .grid-12.title.income
      %p.title Income in Retirement
    .grid-12.steps
      %p.step.st1 Use your super to generate a regular tax-free income in retirement.
      .grid-12.parent.visualisation
        .grid-4.grid-mobile-12
          = partial '/super_retirement/icon',
            locals: { id: 'income-stream',
            icon: '/images/super_retirement/income/income_stream.svg',
            text: 'You can turn your super into an <br/>income stream.' }
        .grid-4.grid-mobile-12
          = partial '/super_retirement/icon',
            locals: { id: 'regular-basis',
            icon: '/images/super_retirement/income/calendar.svg',
            text: 'It pays you an income on a regular basis, <br/>like a salary.' }
        .grid-4.grid-mobile-12
          = partial '/super_retirement/icon',
            locals: { id: 'tax-free',
            icon: '/images/super_retirement/income/tax_free.svg',
            text: 'This income in retirement is tax-free.' }
  .grid-1.next
    %a.right{href: "/supporting_content"}
      %img{src: "/images/nav/next.svg"}