.grid-12.super.no-gutter-left.no-gutter-right
  .grid-1.previous
    %a.centered{href: "/managed_funds"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explanation
    .grid-12.title
      Example of how super works
    .grid-12.portfolio
      %img{src: "/images/super/super.png"}
  .grid-1.next
    %a.right{href: "/super_retirement/transition"}
      %img{src: "/images/nav/next.svg"}