.grid-12.retirement.no-gutter-left.no-gutter-right.centered
  .grid-1.previous
    %a.centered{href: "/super_retirement/super"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explanation
    .grid-12.title
      %p.title Transition to Retirement
    .parent.grid-12.overlay-container
      #benefits.overlays.grid-12
        .grid-12.steps
          %p.step.st1 You can start to access your super as soon as you reach your preservation age, even while you're working. Some of the benefits:
          .grid-12.visualisation
            .grid-4
              %img#working-hours.grid-12{src: '/images/super_retirement/transition/overview/working-hours.svg'}
            .grid-4
              %img#tax-saving-on-earnings.grid-12{src: '/images/super_retirement/transition/benefits/tax_saving_on_earnings.svg'}
            .grid-4
              %img#tax-saving-on-income.grid-12{src: '/images/super_retirement/transition/benefits/tax_saving_on_income.svg'}
          .grid-12.st1
            .grid-4
              %p#working-hours-text Reduce your working hours.
            .grid-4
              %p#saving-text Boost your super or income before retirement.
            .grid-4
              %p#pocket-text Minimise tax on income and earnings.
      #strategy.overlays.grid-12.hide
        .grid-12.steps
          %p.step.st1 How Transition to Retirement works:
          .grid-12.visualisation
            .grid-4
              %img#salary-sacrifice.grid-12{src: '/images/super_retirement/transition/benefits/pie.svg'}
            .grid-4
              %img#saving.grid-12{src: '/images/super_retirement/transition/overview/saving.svg'}
            .grid-4
              %img#pocket.grid-12{src: '/images/super_retirement/transition/overview/pocket.svg'}
          .grid-12.st1
            .grid-4
              %p#salary-sacrifice-text
                Salary sacrifice some of your current income.
            .grid-4
              %p#tax-saving-on-earnings-text Transfer some of your super to a pre-retirement pension.
            .grid-4
              %p#tax-saving-on-income-text Top up your income by drawing from your pre-retirement pension.
    .buttons
      .chart-legend.legend.centered.grid-12
        #benefits-button.button.grid-2.centered.selected BENEFITS
        #strategy-button.button.grid-2.centered STRATEGY


  .grid-1.next
    %a.right{href: "/super_retirement/income"}
      %img{src: "/images/nav/next.svg"}