.l2-item{class: ('selected' if page_classes.include?("super_retirement_super"))}
  = secondary_menu_item "Super", "/super_retirement/super"
.l2-divider
.l2-item{class: ('selected' if page_classes.include?("super_retirement_transition"))}
  = secondary_menu_item "Transition to Retirement", "/super_retirement/transition"
.l2-divider
.l2-item{class: ('selected' if page_classes.include?('super_retirement_income'))}
  = secondary_menu_item "Income in Retirement", "/super_retirement/income"
