.l2-item{class: ('selected' if page_classes.include?("super"))}
  = secondary_menu_item "Super", "/super"
.l2-divider
.l2-item{class: ('selected' if page_classes.include?("transition"))}
  = secondary_menu_item "Transition to Retirement", "/retirement/transition"
.l2-divider
.l2-item{class: ('selected' if page_classes.include?('income'))}
  = secondary_menu_item "Income in Retirement", "/retirement/income"
