.l2-item{class: ('selected' if page_classes.include?("risk_profiles"))}
  = secondary_menu_item "Risk Profiles", "/risk/profiles"
.l2-divider
.l2-item{class: ('selected' if page_classes.include?('risk_factors'))}
  = secondary_menu_item "Risk Factors", "/risk/factors"
