%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
    %link{href: 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', rel: 'stylesheet', type: 'text/css'}
    %script{ src: '/javascripts/analytics.js', type: 'text/javascript' }
    %title= 'Financial Adviser - Login'
    = stylesheet_link_tag 'grid', 'home', 'all'
  %body.content.centered.home
    .title.grid-12
      .title-text
        Wealth iQ
      .description
        financial concepts explained
    .grid-12
      %a{href: '/risk/profiles'}
        .grid-4
          .risk.section-details
            %img.img{src: '/images/home/risk_icon.svg'}
            .section-title Risk
      %a{href: '/asset_classes/cash'}
        .grid-4
          .asset-classes.section-details
            %img.img{src: '/images/home/asset_classes_icon.svg'}
            .section-title Asset Classes
      %a{href: '/managed_funds'}
        .grid-4
          .managed-funds.section-details
            %img.img{src: '/images/home/managed_funds_icon.svg'}
            .section-title Managed Funds
      %a{href: '/super'}
        .grid-4
          .super.section-details
            %img.img.super-icon{src: '/images/home/super_icon.svg'}
            .section-title Super
      %a{href: '/retirement/transition'}
        .grid-4
          .retirement.section-details
            %img.img.super-icon{src: '/images/home/retirement_icon.svg'}
            .section-title Retirement
      %a{href: '/supporting_content'}
        .grid-4
          .supporting-content.section-details
            %img.img{src: '/images/home/supporting_content_icon.svg'}
            .section-title Supporting Content
