%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:content => 'IE=edge,chrome=1', "http-equiv" => 'X-UA-Compatible'}
    %link{href: 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', rel: 'stylesheet', type: 'text/css'}
    %script{ src: '/javascripts/analytics.js', type: 'text/javascript' }
    %title= "Financial Adviser - Login"
    = stylesheet_link_tag "grid", "home", "all"
  %body.content.centered.home
    .title.grid-12
      .title-text
        Wealth iQ
      .description
        financial concepts explained
    .grid-12
      %a{href: "/risk/profiles"}
        .grid-3
          .risk.section-details
            %img.img{src: "/images/home/risk_icon.svg"}
            .section-title Risk
      %a{href: "/asset_classes/cash"}
        .grid-3
          .asset-classes.section-details
            %img.img.asset-classes-icon{src: "/images/home/asset_classes_icon.svg"}
            .section-title Asset Classes
      %a{href: "/managed_funds"}
        .grid-3
          .managed-funds.section-details
            %img.img{src: "/images/home/managed_funds_icon.svg"}
            .section-title Managed Funds
      %a{href: "/super"}
        .grid-3
          .super.section-details
            %img.img.super-icon{src: "/images/home/super_icon.svg"}
            .section-title Super
    .other.grid-12
      .divider
        %span Supporting Content
      .concepts
        %table
          %tbody
            %tr
              %td
                %a{ href: "/pdfs/aus_fixed_interest.pdf", target: "_blank"}
                  .button-title Returns Of Australian Fixed Interest
              %td
                %a{ href: "/pdfs/aus_property_securities.pdf", target: "_blank"}
                  .button-title Returns of Australian Property Securities
              %td
                %a{ href: "/pdfs/aus_shares.pdf", target: "_blank"}
                  .button-title Returns on Australian Shares
              %td
                %a{ href: "/pdfs/aus_vs_global_share_markets.pdf", target: "_blank"}
                  .button-title Australian and Global Share Market Returns
              %td
                %a{ href: "/pdfs/benefits_dollar_cost_averaging.pdf", target: "_blank"}
                  .button-title Benefits of Dollar Cost Averaging
            %tr
              %td
                %a{ href: "/pdfs/consequences_short_term.pdf", target: "_blank"}
                  .button-title Consequences of Short Term Focusing
              %td
                %a{ href: "/pdfs/diversification_and_consistent_returns.pdf", target: "_blank"}
                  .button-title Diversification and Consistent Returns
              %td
                %a{ href: "/pdfs/global_fixed_interest.pdf", target: "_blank"}
                  .button-title Returns of Global Fixed Interest
              %td
                %a{ href: "/pdfs/global_shares.pdf", target: "_blank"}
                  .button-title Returns of Global Shares
              %td
                %a{ href: "/pdfs/long_term_investing.pdf", target: "_blank"}
                  .button-title Long Term Investing

    %script{:src => "./libraries/canvasjs.min.js", :type => "text/javascript"}
