%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:content => 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
    %link{href: 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', rel: 'stylesheet', type: 'text/css'}
    = google_analytics
    %title= 'Financial Adviser - Login'
    = stylesheet_link_tag 'grid', 'home', 'all'
  %body.content.centered.home
    .title.grid-12
      .title-text
        Wealth iQ
      .description
        financial concepts explained
    .grid-12
      %a{href: '/asset_classes/cash'}
        .grid-3
          .asset-classes.section-details
            %img.img{src: '/images/home/asset_classes_icon.svg'}
            .section-title Asset Classes
      %a{href: '/risk/profiles'}
        .grid-3
          .risk.section-details
            %img.img{src: '/images/home/risk_icon.svg'}
            .section-title Investment Mix
      %a{href: '/managed_funds'}
        .grid-3
          .managed-funds.section-details
            %img.img{src: '/images/home/managed_funds_icon.svg'}
            .section-title Managed Funds
      %a{href: '/super_retirement/super'}
        .grid-3
          .super.section-details
            %img.img{src: '/images/home/retirement_icon.svg'}
            .section-title Super & Retirement
      %a{href: '/supporting_content'}
        .grid-4.push-4
          .supporting-content.section-details
            .section-title
              %u Supporting Content
    .disclaimer.grid-12
      %p.important-information Important information
      %p
        The information contained in this tool is for your use, as an adviser, with your clients. It is solely your responsibility to use this tool in accordance with your legal obligations, including any license conditions that apply to you.
      %p
        Colonial First State Investments Limited ABN 98 002 348 352, AFS Licence 232468 (Colonial First State) is the issuer of super, pension and investment products. This tool has been prepared by Colonial First State and may include general advice but does not take into account any person's individual objectives, financial situation or needs. You should read the relevant Product Disclosure Statement (PDS) carefully before making any recommendations. Clients should read the PDS before making an investment decision and consider talking to a financial adviser. A PDS for Colonial First State's products is available at
        %a{href:'http://www3.colonialfirststate.com.au', id:'cfs'} colonialfirststate.com.au
        or by calling us on 13 18 36. Past performance is no indication of future performance.
      %p
        While all care has been taken in the preparation of this tool (using sources believed to be reliable and accurate), to the maximum extent permitted by law, no person including Colonial First State or any member of the Commonwealth Bank of Australia group of companies, accepts responsibility for any loss suffered by any person arising from reliance on this information.
