%html
  %head
    %meta{:charset => 'utf-8'}
    %meta{:content => 'IE=edge,chrome=1', "http-equiv" => 'X-UA-Compatible'}

    %link{href: 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', rel: 'stylesheet', type: 'text/css'}
    %title= "Financial Advisor - Login"
    = stylesheet_link_tag "grid", "home", "all"
  %body.content.centered.home
    .title.grid-12
      .title-text
        Advisor Toolkit
      .description
        finance concepts explained
    .grid-12
      %a{href: "/risk/profiles"}
        .grid-3
          .risk.section-details
            %img.img{src: "/images/home/home.svg"}
            .section-title Risk
      %a{href: "/asset_classes/cash"}
        .grid-3
          .asset-classes.section-details
            %img.img{src: "/images/home/home.svg"}
            .section-title Asset Classes
      %a{href: "/managed_funds"}
        .grid-3
          .managed-funds.section-details
            %img.img{src: "/images/home/home.svg"}
            .section-title Managed Funds
      %a{href: "/super"}
        .grid-3
          .super.section-details
            %img.img{src: "/images/home/home.svg"}
            .section-title Super
    .other.grid-12
      .divider
        %span Other Concepts
      .concepts
        %table
          %tbody
            %tr
              %td
                %a{ href: "/pdfs/pdf-placeholder.pdf", target: "_blank"} Retirement
              %td
                %a{ href: "/pdfs/pdf-placeholder.pdf", target: "_blank"} Retirement
              %td
                %a{ href: "/pdfs/pdf-placeholder.pdf", target: "_blank"} Retirement
              %td
                %a{ href: "/pdfs/pdf-placeholder.pdf", target: "_blank"} Retirement
              %td
                %a{ href: "/pdfs/pdf-placeholder.pdf", target: "_blank"} Retirement
            %tr
              %td
                %a{ href: "/pdfs/pdf-placeholder.pdf", target: "_blank"} Retirement
              %td
                %a{ href: "/pdfs/pdf-placeholder.pdf", target: "_blank"} Retirement
              %td
                %a{ href: "/pdfs/pdf-placeholder.pdf", target: "_blank"} Retirement
              %td
                %a{ href: "/pdfs/pdf-placeholder.pdf", target: "_blank"} Retirement
              %td
                %a{ href: "/pdfs/pdf-placeholder.pdf", target: "_blank"} Retirement
            %tr
              %td
                %a{ href: "/pdfs/pdf-placeholder.pdf", target: "_blank"} Retirement
              %td
                %a{ href: "/pdfs/pdf-placeholder.pdf", target: "_blank"} Retirement
              %td
                %a{ href: "/pdfs/pdf-placeholder.pdf", target: "_blank"} Retirement
              %td
                %a{ href: "/pdfs/pdf-placeholder.pdf", target: "_blank"} Retirement
              %td
                %a{ href: "/pdfs/pdf-placeholder.pdf", target: "_blank"} Retirement
