.grid-12.managed-funds.no-gutter-left.no-gutter-right
  .grid-1.previous
    %a.centered{href: "/risk/profiles"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explanation
    .grid-12.title
      Example of how a managed fund is invested
    .parent.portfolio.vertical-align-middle
      .buttons.grid-3
        .button.selected#all-assets
          ALL ASSETS
        .button#share-mix
          SHARE MIX
        .button#property-mix
          PROPERTY FUND MIX
        .button#fixed-interest-mix
          FIXED INCOME MIX
        .button#cash-mix
          CASH MIX
      .chart.grid-9
        %img#managed-funds-chart{src: "/images/managed_funds/all_assets.svg"}

  .grid-1.next
    %a.right{href: "/super_retirement/super"}
      %img{src: "/images/nav/next.svg"}
