.grid-12.managed-funds.no-gutter-left.no-gutter-right
  .grid-1.previous
    %a.centered{href: "/asset_classes/performance"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explaination
    .grid-12.title
      Example of how a managed fund works
    .grid-12.portfolio
      .buttons
        .button.selected#all-assets
          ALL ASSETS
        .button#share-mix
          SHARE MIX
        .button#property-mix
          PROPERTY MIX
        .button#fixed-income-mix
          FIXED INCOME MIX
        .button#cash-mix
          CASH MIX
      .chart
        %img.grid-12#managed-funds-chart{src: "/images/managed_funds/all_assets.svg"}

  .grid-1.next
    %a.right{href: "/super"}
      %img{src: "/images/nav/next.svg"}
