.grid-12.super.no-gutter-left.no-gutter-right
  .grid-1.previous
    %a.centered{href: "/managed_funds"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explaination
    .grid-12.title
      Example of how a managed fund works
    .grid-12.portfolio
      %img{src: "/images/super/super.svg"}
  .grid-1.next
