.grid-12.super.no-gutter-left.no-gutter-right
  .grid-1.previous
    %a.centered{href: "/managed_funds"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explaination
    .grid-12.title
      Example of how super works
    .grid-12.portfolio
      %img{src: "/images/super/super.svg"}
    -# .grid-12.portfolio
    -#   .grid-12.visualisation
    -#     .grid-3
    -#       %img.grid-12{src: "/images/super/1.svg"}
    -#     .grid-6
    -#       %img.grid-12{src: "/images/super/2.svg"}
    -#     .grid-3
    -#       %img.grid-12{src: "/images/super/3.svg"}
    -#   .grid-12.st1
    -#     .grid-3
    -#       .step-title Money In
    -#       %p 9.5% from employer, rollovers from other super funds, extra contributions from you and government contributions (if eligible)
    -#     .grid-6
    -#       .grid-12
    -#         .grid-6.sub-step
    -#           %p Your investment grows due to contributions and returns
    -#         .grid-6.sub-step
    -#           .step-title Money Out
    -#           %p A portion of your investment is used for Insurance, Taxes and Fees
    -#     .grid-3
    -#       %p You can access your investment once you retire
  .grid-1.next
