.container.supporting-content
  .grid-12.no-gutter-left.no-gutter-right
    %div.title Supporting Content

    .concepts
      %table
        %tbody
          %tr
            %td
              %a{ href: "/pdfs/aus_fixed_interest.pdf", target: "_blank"}
                .button-title Returns Of Australian Fixed Interest
            %td
              %a{ href: "/pdfs/aus_property_securities.pdf", target: "_blank"}
                .button-title Returns of Australian Property Securities
            %td
              %a{ href: "/pdfs/aus_shares.pdf", target: "_blank"}
                .button-title Returns on Australian Shares
            %td
              %a{ href: "/pdfs/aus_vs_global_share_markets.pdf", target: "_blank"}
                .button-title Australian and Global Share Market Returns
            %td
              %a{ href: "/pdfs/benefits_dollar_cost_averaging.pdf", target: "_blank"}
                .button-title Benefits of Dollar Cost Averaging
          %tr
            %td
              %a{ href: "/pdfs/consequences_short_term.pdf", target: "_blank"}
                .button-title Consequences of Short Term Focusing
            %td
              %a{ href: "/pdfs/diversification_and_consistent_returns.pdf", target: "_blank"}
                .button-title Diversification and Consistent Returns
            %td
              %a{ href: "/pdfs/global_fixed_interest.pdf", target: "_blank"}
                .button-title Returns of Global Fixed Interest
            %td
              %a{ href: "/pdfs/global_shares.pdf", target: "_blank"}
                .button-title Returns of Global Shares
            %td
              %a{ href: "/pdfs/long_term_investing.pdf", target: "_blank"}
                .button-title Long Term Investing
