.grid-12.supporting-content.no-gutter-left.no-gutter-right.centered
  .grid-1.previous
    %a.centered{href: "/super_retirement/income"}
      %img{src: "/images/nav/previous.svg"}
  .grid-10.explanation
    .grid-12.title
      Supporting Content
    .concepts.grid-12
      - supporting_content_documents.each do |title, link|
        .grid-3.grid-tablet-6
          %a{ href: link, target: "_blank", class: 'button'}
            .button-title= title
